<!DOCTYPE html>
<html>
  <head>
    <title>Synctube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sync<span class="highlight">tube</span><span class="muted">.net</span></a>
        <p class="navbar-text visible-lg"><span class="label label-success" style="font-size: 100%;">Large</span></p>
        <p class="navbar-text visible-md"><span class="label label-success" style="font-size: 100%;">Medium</span></p>
        <p class="navbar-text visible-sm"><span class="label label-success" style="font-size: 100%;">Small</span></p>
        <p class="navbar-text visible-xs"><span class="label label-success" style="font-size: 100%;">X-Small</span></p>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/rooms">Browse Rooms</a></li>
        </ul>
      </div>
    </nav>
