{{> header.html}}
<div class="row">
  <div class="content-player" style="background-color: #040">
    <div id="player-wrapper">
      <div id="player">
        <img class="img-responsive" src="/default.png"></img>
      </div>
    </div>
  </div>

  <div class="content-panel-social hidden-landscape">
    <div class="side-panel-wrapper">
      <div class="side-panel-right">
        <!-- Room Details, Chat, Connected -->
      </div>
    </div>
  </div>

  <div class="clearfix visible-md"></div>

  <div class="content-panel-media hidden-landscape">
    <div class="side-panel-wrapper">
      <div class="side-panel-left">
        <!-- Now Playing, Video Queue, My Playlists -->
      </div>
    </div>
  </div>

  <div class="content-panel-browse hidden-landscape" style="background-color: #404">
    <div class="bottom-panel">

    </div>
  </div>
</div>
{{> footer.html}}
